.container
  .page-header
    %h1="#{@volume.name} \# #{@issue.issue_number} #{!@issue.story_name.empty? ? '- ' + @issue.story_name : ''}"
  .row
    .col-md-6
      =image_tag(@issue.cover_image_url ? @issue.cover_image_url : 'no_image_available_cover.jpg', class: 'cover_image')
    .col-md-6
      %p=strip_links(@issue.description).html_safe
      %p
        %strong Cover Date:
        =@issue.cover_date.strftime('%B %Y')
      %p=link_to 'Return to Volume Overview', volume_path(@volume)
