.container
  .page-header
    %h1 Volumes
  .container.text-center.pagination
    =will_paginate @volumes

  .well
    .row
      -@volumes.each do |volume|
        .col-md-4.index_element
          %p.text-center.thumb=link_to(image_tag(volume.thumbnail_url ? volume.thumbnail_url : 'no_image_available_thumb.jpg', class: 'img-thumbnail'), volume_path(volume))
          %p.text-center=link_to("#{volume.name} (#{volume.start_year})", volume_path(volume))

  .container.text-center.pagination
    =will_paginate @volumes
