.container
  .page-header
    %h1 Creators

  .well
    .row
      %ul
        -@creators.each do |creator|
          %li
            =link_to("#{creator.name}", creator_path(creator))
            =creator.short_description && !creator.short_description.empty? ? "- #{creator.short_description}" : ''

      -# -@creators.each do |creator|
      -#   .col-md-4.index_element
      -#     %p.text-center.thumb=link_to(image_tag(creator.profile_picture_thumb_url && creator.profile_picture_thumb_url != 'http://static.comicvine.com/uploads/scale_avatar/0/1/1-male-good-large.jpg' ? creator.profile_picture_thumb_url : 'no_image_available_thumb.jpg', class: 'img-thumbnail'), creator_path(creator))
      -#     %p.text-center=link_to("#{creator.name}", creator_path(creator))
