/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.btn-info a {
 color: white;
}

body {
 padding-bottom: 75px;
 padding-top: 75px;
 }
// .nav-home {
//   background: #0E02F0;
//   border: 5px groove #0E02F0;
// }
// .nav-volume {
//   background: #57FCFF;
//   border: 5px groove #57FCFF;
// }
.navbar-fixed-bottom {
  border-top: 2px inset #f8f8f8;
  background: #f8f8f8;
  padding: 5px
  }
.img-thumbnail {
  max-height: 170px;
  max-width: 116px;
}
.index_element {
  height: 300px;
  width: 150px;
}

.thumb {
  height: 170px;
  width: 116px;
}

.cover_image {
  max-height: 650px;
  max-width: 420px;
}
