%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      =link_to 'Home', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.dropdown.nav-volume=link_to 'Volumes', volumes_path
        %li.dropdown.nav=link_to 'Creators', creators_path
      =form_tag search_path, class: 'navbar-form navbar-left', method: :get do
        .form-group
          -# =label_tag :query, 'Search Comic Volumes'
          =text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search Comic Volumes'
          =submit_tag 'Search', class: 'btn btn-default'

-# =form_tag search_path, class: 'form-inline', method: :get do
-#   .form-group
-#     =label_tag :query, 'Search Comic Series', class:  'search-label'
-#
-#     .input-group
-#       =text_field_tag :query, params[:query], :class => 'search-box'
-#     =submit_tag 'Search', :class => 'btn btn-default search-button'
