!!! HTML
%html
  %head
    %title DarkHorseApp
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    =csrf_meta_tags

  %body
    =render 'layouts/nav' if !@disable_nav
    =yield
  %footer
    .navbar-fixed-bottom
      .text-center
        Comic book information and images were retrieved from
        =link_to 'Comicvine.com', 'http://www.comicvine.com/'
        with the exception of purchase details and links which were obtained from
        =link_to 'Dark Horse Digital', 'http://digital.darkhorse.com'
      .text-center Note: Issue purchase prices are subject to change at vendor's discretion
      .text-center
        -# Due to the sheer amount of data obtained from various sources, there may be mistakes or issues. If you discover any, please report them
        -# =mail_to 'support@email.com', 'here'
