!!! HTML
%html
  %head
    %title DarkHorseApp
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    =csrf_meta_tags

  %body
    =render 'layouts/nav' if !@disable_nav
    =yield
  %footer
    .navbar-fixed-bottom
      %p.text-center
        Comic book information and images retrieved from
        =link_to 'Comicvine.com', 'http://www.comicvine.com/'
      %p.text-center Note: Issue purchase prices are subject to change at vendor's discretion
